.idea/**
client/build/**
client/node_modules/**
node_modules/**
build/**
client/css/aspectratio.css
client/css/grid.css
client/libs/bower_components/**
client/src/**.map
client/src/**.map
client/src/**/*.map
client/src/module.FullSize.js
client/src/module.Gallery.js
