.idea/**
client/build/**
client/node_modules/**
node_modules/**
build/**
client/css/aspectratio.css
client/css/grid.css
client/libs/bower_components/**
client/src/**.map
client/src/**.map
client/src/**/*.map
client/src/module.FullSize.js
client/src/module.Gallery.js
client/src/data/data.GoogleImage.js
client/src/data/data.ImageGallery.js
client/src/data/data.ImageInterface.js
client/src/module.Index.js
client/src/data/data.Repository.js
client/src/windowZepto.js
client/css/custom.css
client/libs/polymer/bower_components/**
client/css/startbootstrap-grayscale-1.0.0/**
client/fullsize/bower_components/**
client/fullsize/.idea/**
client/fullsize/**
